[class="form-submit"]{
  float: right;
  margin: auto;
  right: 1px;
}
[class="form-body"]{
  margin: auto;
}
[class="arobase"]{
  width: 20px;
}

.text-danger {
  color: red;
  font-size: 1.0vw;
  height: 1.0vw;

}
