<div class="create-shoppinglist-container">
  <div class="page-title">
    New shoppinglist
  </div>
  <div class="create-shoppinglist-form-container">
    <form (ngSubmit)="save()">
      <h4> Please provide a name for your shopping list: </h4>
      <label>
        <input class="input-field" name="shoppingListName" id="shoppingListName" size="50"
               [(ngModel)]="shoppingListName"
               placeholder="Super awesome shopping list name ..."
               (click)="resetErrors()"/>
      </label>
      <button class="create-button" type="submit">CONFIRM</button>
    </form>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{errorMessage}}
  </div>
</div>

