

.create-shoppinglist-form-container {
  margin-top: 5vw;
}

  .input-field {
    width: auto;
  }


.create-button {
  margin-left: 2vw;
  height: 3vw;
  width: 10vw;
  background-color: white;
  border: 0.3px solid lightgrey;
  font-size: 1.25vw;

}

.create-button:hover {
  background-color: var(--primary-color);
  color: white;
  border: none;
}


