.form-container {
  display: flex;
  flex-direction: column;
}

.recipe-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .form-section {
    width: 50%;
  }

  .input-title {
    font-size: 1.5vw;
    font-weight: bold;
  }

  .input-field {
    margin-bottom: 4vw;
  }
}

.text-danger {
  color: red;
  font-size: 1.0vw;
  height: 1.0vw;
}

textarea {
  width: 300px;
  height: 150px;
}

.add-products {

}
.row {
  display: flex;
  justify-content: space-between;
  height: 5vw;
  align-items: center;
}

.recipe-products {
  overflow: auto;
  max-height: 75vh;
}
