<div *ngIf="shoppingLists">
  <div class="overview-shoppinglist-container">
    <div class="overview-shoppinglist">
      <div class="row">
        <div class="table-title">My shopping lists</div>
      </div>
      <div class="empty-overview" style="font-style: italic;"
           *ngIf="shoppingLists.length==0">
        You don't have any shoppinglists yet. Click the '+' button to create one!
      </div>
      <div *ngFor="let shoppingList of shoppingLists | orderBy:'name'" class="table-row row bordered">


        <div class="shoppinglist-name table-element"
             routerLink="/shopping-list-detail/{{shoppingList.id}}">{{shoppingList.name}}</div>
        <div class="table-button">
          <div class="delete-button" (click)="delete(shoppingList.id)"><img src="/assets/remove.png" width="100%"/></div>
        </div>
      </div>
      <div class="add-button-row row">
        <button routerLink="/create-shoppinglist">+</button>
      </div>
    </div>
  </div>
</div>
