.overview-shoppinglist-container {
  color: var(--primary-font);
  font-size: 1.25vw;
}


.overview-shoppinglist {
  margin-top: 7.5vw;
  width: 90%;
  margin-left: auto;
  margin-right: auto;


  .row {
    display: flex;
    justify-content: space-between;
    height: 5vw;
    align-items: center;
  }

}

.add-button-row {
  margin-top: 2vw;

  button, button:hover {
    font-size: 2vw;
    font-weight: bold;
  }
}

button {
  color: var(--primary-color);
  font-size: 1.25vw;
  width: auto;
  border: 0.25px solid var(--primary-color);
  margin: auto;
  min-width: 5vw;
  padding: 0;
}

button:hover {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.delete-button {
  width: 2.25vw;
  margin-right: 1vw;
}

.delete-button:hover {
  width: 2.5vw;

}
.table-button {
  max-width: 3vw;

}
.table-button:hover {
  background: var(--table-backgrond);
}

