
.shoppinglist-detail-container {
  color: var(--primary-font);
  font-size: 16px;
}


.shoppinglist-detail {
  margin-top: 4.5vw;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .row {
    display: flex;
    justify-content: space-between;
    height: 5vw;
    align-items: center;
  }


}

.add-button-row {
  button, button:hover {
    font-size: 1.25vw;
    font-weight: bold;
    padding: 1vw;
  }
}

button, button:focus {
  color: var(--primary-color);
  background: white;
  font-size: 1.25vw;
  width: auto;
  border: 0.25px solid var(--primary-color);
  box-shadow: none;
  margin: auto;
  min-width: 5vw;
  padding: 3px;
}

button:hover {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.back {
  position: fixed;
  bottom: 5vw;
  margin-bottom: 2vw;
  color: var(--primary-color);
  border: 0.5px solid lightgrey;
  border-radius: 5px;
  padding: 1vw;

}

.back:hover {
  border: 0.5px solid var(--primary-color);
  box-shadow: 0 2px 4px 0 lightgrey;

}
