.menu-container {
  display: flex;
  margin-left: 1.5vw;

}

.navigation-bar {
  display: flex;
  height: 4vw;
  align-items: flex-end;
  margin-left: 2vw;
}

.welcome-message {
  margin-left: auto;
  align-self: flex-end;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.3vw;

  .logout-button {
    height: 2vw;
    width: 6vw;
  }
}


