<div class="menu-container">
  <div>
    <span class="logo">sh<span style="color:#d22571;">o</span>ppr
    </span>
  </div>

  <div class="navigation-bar">
    <button class="navigation-button" routerLink="">home</button>
    <button class="navigation-button" routerLink="create-shoppinglist">myShopprLists</button>
  </div>
  <div class="welcome-message">
    You are logged in as:
    <span style="color:#d22571;">{{loginStatus}}</span>
    <button class="logout-button" (click)="logout()">
      <span *ngIf="loginStatus != 'Guest'">Log out</span>
      <span *ngIf="loginStatus == 'Guest'">Log in</span>
    </button>

  </div>
</div>
