<div class="menu-container">
  <div>
    <span class="logo">sh<span style="color:#d22571;">o</span>ppr
    </span>
  </div>

  <div class="navigation-bar">
    <button class="navigation-button" routerLink="">home</button>
    <button class="navigation-button" routerLink="create-shoppinglist">myShopprLists</button>
    <button class="navigation-button" routerLink="authentication">login</button>
  </div>
  <div class="welcome-message">
    <button class="navigation-button" (click)="logout()">disconnect</button>
    You are logged in as:
    <span style="color:#d22571;">{{loginStatus}}</span>
  </div>
</div>
