<div class="page-title">Recipes</div>
<div>Search Recipe : </div>
<input #searchBox id="search-box" (input)="search(searchBox.value)" />
<div *ngIf="recipes">
  <div class="recipe-overview-container">
    <div *ngFor="let recipe of recipes | orderBy:'asc':'name'">
      <div class="recipe-item" (click)="toRecipeDetail(recipe.id)">
        <div class="recipe-name">{{ recipe.name }}</div>
        <div class="recipe-description">{{ recipe.description.substring(0, 140)}}...</div>
        <div class="recipe-servings">Serving size: {{recipe.amountOfServings}}</div>
      </div>
    </div>
  </div>
</div>
<div class="form-submit">
  <button class="create-button" routerLink="/create-recipe">+ Create your own recipe</button>
</div>
