
.menu-bar-container {
  margin: 0 1rem;
  position: sticky;
  top: 0;
  height: 4vw;
  background: white;
  padding-bottom: 1vw;
  border-bottom: 5px ridge var(--primary-color);
}

.content-container {
  margin: 0 1rem;
  height: auto;
  margin-bottom: 50vw;
}

.footer-bar-container {
  position: sticky;
  margin-top: 2vw;
  bottom: 0;
  background: var(--primary-color);
  height: 5vw;
}
