
.menu-bar-container {
  margin: 0 2rem;
  position: sticky;
  top: 0;
  left: 0;
  height: 4vw;
  background: white;
  padding-bottom: 1vw;
  margin-bottom: 2vw;
}

.content-container {
  margin: 0 9rem;
  height: auto;
  margin-bottom: 26vw;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  min-height: 100vh;
}

.footer-bar-container {
  width: 99.5vw;
  position: fixed;
  bottom: 0;
  background: var(--primary-color);
  height: 3vw;
}
