.menu-bar-container {
  position: sticky;
  top: 0;
  height: 4vw;
  background: white;
  padding-bottom: 1vw;
  border-bottom: 5px ridge #d22571;
}
fieldset{
  border-color: transparent;
}
[class="header"]{
}
[class="body"]{
}
[class="footer"]{
  background-color: #eee;
}
