.form-submit {
  float: right;
  margin: auto;
  right: 1px;
}

.form-body {
  margin: auto;
}

.input-container {
  width: 18vw;
}

.text-danger {
  color: red;
  font-size: 1.0vw;
  height: 1.0vw;
}
