<div class="create-account-container">
  <h3 class="create-account-title">Create account</h3>
  <div class="create-account-input">
    <form [formGroup]="accountForm" (ngSubmit)="save()">
      <div class="form-body">
        <div class="form-input">
          <h4>Email : </h4>
          <input id="email" formControlName="email" (click)="resetErrors()"/>
          <div *ngIf="duplicate" class="text-danger">
            {{ duplicate.error.errors }}
          </div>
          <div *ngIf="submitted && email.invalid"
               class="text-danger">
            <div *ngIf="email.errors.required">Email address is required.</div>
            <div *ngIf="email.errors.email">Please provide a valid email address.</div>
          </div>
          <hr>
          <div class="form-submit">
            <button type="submit" id="connectButton">create</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
