body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  line-height: 180%;
  font-size: 110%;
}

hr {
  alignment: center;
  width: 0;
}

.page-title {
  max-height: 3vw;
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 4.5vw;
}

button {
  height: 3vw;
  width: 10vw;
  background-color: white;
  border: 0.3px solid lightgrey;
  font-size: 1.25vw;
}

button:hover {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

button:active, button:visited, button:focus, button:active:focus {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.logo {
  font-size: 3vw;
  font-weight: bold;
}

.error-message {
  margin-left: 2vw;
  color: red;
}

:root {
  --primary-color: #004BA8;
  --secondary-color: lightgrey;
  --primary-accent-color: #d22571;
  --backgroud-color: white;
  --primary-font: #140F2D;
  --table-backgrond: #004ba824;
}

.table-title {
  width: 100%;
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.5vw;
  text-align: center;
  padding: 1.5vw 0;
  border-radius: 3px;
}

.table-legend {
  font-size: 1.5vw;
  font-weight: bold;
  padding-left: 1.5vw;
}

.table-row {

  margin-top: 0.5vw;

  .table-name {
    margin-right: 1vw;
  }

  .table-element {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 1.5vw;
    margin-right: 1vw;
  }

  .table-element:hover {
    background: var(--table-backgrond);
    font-size: 1.5vw;
    color: white;
  }

  .table-button {
    display: flex;
    justify-items: center;
    max-width: 7vw;
  }

  button:hover, button:focus {
    background-color: var(--secondary-color);
    color: white;
    border: none;
  }
}

.input-field {
  height: 2vw;
  width: 15vw;
  padding-left: 1%;
  font-size: 1.25vw;
  display: inline;
}

.text-accent {
  color: var(--primary-accent-color);
}
.bordered {
  border: 0.5px solid rgba(190, 234, 248, 0.2);
  border-radius: 9px;
}
