.logon-container {
  display: flex;
  height: 18vw;
  align-items: center;
  margin-top: 2vw;
}
.item{
  margin-left: auto;
  margin-right: auto;
  width:30vw;
}

.separation {
  border-left: 1px solid grey;
  height: 10vw;
}
*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h2{
  margin-bottom: 0;
}


