.logon-container {
  display: flex;
}
[class="item"]{
  margin-left: auto;
  margin-right: auto;
  width:auto;
}

.separation {
  border-left: 1px solid grey;
}
*{
  font-family: Andale Mono, monospace;
}
h2{
  margin-bottom: 0;
}
